// colors
$darkGreen: #5c8d89;
$green: #828282;
$lightGreen: #FCFCFD;
$veryLightGreen: #17181E;
$darkGrey: #828282;
$white: #21222C;
$lightGrey: #17181E;

// font family
$fontFamily: 'IBM Plex Sans', 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);
